.svg {
    width: 300px;
    height: 300px;
    background: url("../assets/studiomeal.svg") no-repeat 0 0;
}

.cls-1, .cls-2 {
    fill: none;
    stroke: #000;
    stroke-miterlimit: 10;
}

.cls-1 {
    stroke-width: 40px;
}

.cls-2 {
    stroke-width: 30px;
}